*.DS_Store
*.properties
*.jar
*.iml
.idea/
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*target/*
*dependency-reduced-pom.xml*
# node
**/node_modules/*
*package-lock.json
# Local .terraform directories
**/.terraform/*
